.idea/
*.sublime-workspace
*.sublime-project
application/cache/*
assets/upload/*/*.jpg
assets/upload/*/*.png
assets/upload/*/*.bmp
assets/upload/*/*.jpeg
assets/upload/*/*.txt
assets/upload/*/*.xlsx
assets/upload/*/*.xls
assets/upload/*/*.pdf
assets/php/koolreport/packages/export/tmp/*.tmp
assets/php/koolreport/packages/export/tmp/*.html
assets/php/koolreport/packages/export/tmp/*.pdf
arquivos_temporarios/certificados_adesao/
arquivos_temporarios/documentos_preenchidos/*.pdf
arquivos_temporarios/documentos_preenchidos/*.zip
arquivos_temporarios/boletos/*.png
arquivos_temporarios/boletos/*.pdf
arquivos_temporarios/boletos/*.html
node_modules/
Thumbs.db